.modal-header
  h4.modal-title Create {{ table.getName() }}
.modal-body
  form(name="createRowDialogForm", role="form")
    input.form-control(type="text", placeholder="Please Input Operation title", ng-model="form.operationTitle", required)
    hr
    textarea.form-control(rows="5", placeholder="Please Input Operation summary", ng-model="form.operationSummary")
    hr
    input.form-control(type="text", placeholder="Please Input Row Key", ng-model="form.rowKey", required)
    hr
    button.btn.btn-default(type="button", ng-click="addCQ()") Add CQ
    table.table.table-bordered
      tr
        th CQ name
        th Value
      tr(ng-repeat="cq in form.cqs")
        td
          input.form-control(type="text", ng-model="cq.name", required)
        td
          input.form-control(type="text", ng-model="cq.value", required)
.modal-footer
  button.btn.btn-default(type="button", data-dismiss="modal") Close
  button.btn.btn-primary(type="button", ng-click="create()", ng-disabled="!createRowDialogForm.$valid") Create
