.modal-header
  h4.modal-title Get {{ table.getName() }}
.modal-body
  form(name="getRowDialogForm", role="form")
    input.form-control(type="text", placeholder="Please Input Operation title", ng-model="form.operationTitle", required)
    hr
    textarea.form-control(rows="5", placeholder="Please Input Operation summary", ng-model="form.operationSummary")
    hr
    select.form-control(ng-model="form.row", ng-options="row.getKey() for row in table.getRows()")
      option(value="") Please select a row
    hr
    table.table.table-bordered
      tr
        th CQ name
        th Value
      tr(ng-repeat="cq in form.row.getCQs()")
        td
          .form-control-static {{ cq.name }}
        td
          .form-control-static {{ cq.value }}
.modal-footer
  button.btn.btn-default(type="button", data-dismiss="modal") Close
  button.btn.btn-primary(type="button", ng-click="get()", ng-disabled="!getRowDialogForm.$valid") Get
