table.table.table-bordered.table-condensed.table-hover
  tr
    th Row Key
    th(ng-repeat="column in columns") {{ column.getName() }}
      .pull-right
        span.glyphicon.glyphicon-filter(ng-click="filterByColumn(column.getName())")
  tr(ng-repeat="row in rows")
    th {{ row.key }}
      .pull-right
        span.glyphicon.glyphicon-filter(ng-click="filterByRowkey(row.key)")
    td(ng-repeat="column in row.columns track by $index") {{ column.getValue().getValue() }}
      .pull-right(ng-hide="column | isEmpty")
        span.glyphicon.glyphicon-list(ng-click="showValues(column)")
      .pull-right(ng-hide="column | isEmpty")
        span.glyphicon.glyphicon-filter(ng-click="filterByValue(column.getValue())")