table.table.table-bordered.table-condensed.table-hover
  tr
    th Row Key
    th(ng-repeat="column in columns") {{ column.getName() }}
  tr(ng-repeat="row in rows")
    th {{ row.key }}
    td(ng-repeat="value in row.values") {{ value.getValue() }}