table.table.table-bordered.table-condensed.table-hover
  tr
    th Row Key
    th(ng-repeat="column in columns") {{ column }}
  tr(ng-repeat="row in table.rows")
    th {{ row.getKey() }}
    td(ng-repeat="v in k.cqs track by $index") {{ v }}