.modal.fade#import-tables-dialog(tabindex="-1", role="dialog", aria-labelledby="import-tables-dialog-title", aria-hidden=true)
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal", aria-hidden=true) &times;
        h4.modal-title#import-tables-dialog-title Import Tables
      .modal-body
        textarea.form-control(rows="10")
      .modal-footer
        button.btn.btn-default(type="button", data-dismiss="modal") Close
