.modal-header
  button.close(type="button", data-dismiss="modal", aria-hidden=true) &times;
  h4.modal-title Import Tables
.modal-body
  input#fileChoose(type="file")
.modal-footer
  button.btn.btn-default(type="button", data-dismiss="modal") Close
  button.btn.btn-primary(type="button", ng-click="importTables()") Import
