.modal-header
  h4.modal-title {{ operation.getTitle() }}

.modal-body
  form.form-horizontal(role="form")
    fieldset
      legend Operation
      .form-group
        label.col-md-2.control-label Title
        .col-md-10
          p.form-control-static {{ operation.getTitle() }}
      .form-group(ng-show="operation.getSummary() != null")
        label.col-md-2.control-label Summary
        .col-md-10
          p.form-control-static {{ operation.getSummary() }}

    fieldset(ng-hide="operation.getType() === 3")
      legend Table
      .form-group
        label.col-md-2.control-label Table
        .col-md-10
          p.form-control-static {{ operation.getTableName() }}
      hbase-table(ng-show="(table != null) && !table.isEmpty()", table="table")

.modal-footer
  button.btn.btn-default(type="button", ng-click="close()") Close