.modal-header
  button.close(type="button", data-dismiss="modal", aria-hidden=true) &times;
  h4.modal-title {{ operation.getTitle() }}
.modal-body
.modal-footer
  button.btn.btn-default(type="button", data-dismiss="modal") Close
