.modal-header
  h4.modal-title {{ operation.getTitle() }}
.modal-body
  form.form-horizontal(role="form")
    fieldset
      legend Operation
      .form-group
        label.col-md-2.control-label Title
        .col-md-10
          p.form-control-static {{ operation.getTitle() }}
      .form-group(ng-show="operation.getSummary() != null")
        label.col-md-2.control-label Summary
        .col-md-10
          p.form-control-static {{ operation.getSummary() }}

    fieldset
      legend Table
      .form-group
        label.col-md-2.control-label Table
        .col-md-10
          p.form-control-static {{ operation.getTable() }}
      .form-group
        label.col-md-2.control-label Key
        .col-md-10
          p.form-control-static {{ operation.getKey() }}

    h5(ng-show="operation.getCreateCQs().length > 0") Create CQ
    table.table.table-bordered.table-condensed(ng-show="operation.getCreateCQs().length > 0")
      tr
        th(ng-repeat="cq in operation.getCreateCQs()") {{ cq.name }}
      tr
        td(ng-repeat="cq in operation.getCreateCQs()")
          .bg-success {{ cq.value }}
.modal-footer
  button.btn.btn-default(type="button", ng-click="close()") Close
