.modal-header
  h4.modal-title Scan {{ table.getName() }}
.modal-body
  form(name="scanRowDialogForm", role="form")
    input.form-control(type="text", placeholder="Please Input Operation title", ng-model="form.operationTitle", required)
    hr
    textarea.form-control(rows="5", placeholder="Please Input Operation summary", ng-model="form.operationSummary")
    hr
    input.form-control(type="text", placeholder="Please Input Row key", ng-model="form.key", ng-change="changeKey()")
    hr
    table.table.table-bordered
      tr
        th CQ name
        th Value
      tr(ng-repeat="cq in form.row.getCQs()")
        td
          .form-control-static {{ cq.name }}
        td
          .form-control-static {{ cq.value }}
.modal-footer
  button.btn.btn-default(type="button", data-dismiss="modal") Close
  button.btn.btn-primary(type="button", ng-click="scan()", ng-disabled="!scanRowDialogForm.$valid") Scan
