.modal.fade#show-operation-dialog(tabindex="-1", role="dialog", aria-labelledby="show-operation-dialog-title", aria-hidden=true)
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal", aria-hidden=true) &times;
        h4.modal-title#show-operation-dialog-title {{ tmp_operation.getTitle() }}
      .modal-body
      .modal-footer
        button.btn.btn-default(type="button", data-dismiss="modal") Close
