.modal-header
  h4.modal-title Update {{ table.getName() }}
.modal-body
  form(name="updateRowDialogForm", role="form")
    input.form-control(type="text", placeholder="Please Input Operation title", ng-model="form.operationTitle", required)
    hr
    textarea.form-control(rows="5", placeholder="Please Input Operation summary", ng-model="form.operationSummary")
    hr
    select.form-control(ng-model="form.rowKey", ng-options="r.rowkey for r in table.getRowkeys()")
      option(value="") Please select a row
    hr
    button.btn.btn-default(type="button", ng-click="addCQ()") Add CQ
    table.table.table-bordered
      tr
        th CQ name
        th Value
      tr(ng-repeat="cq in form.rowKey.cqs")
        td
          p.form-control-static(ng-show="!cq.add") {{ cq.name }}
          input.form-control(type="text", ng-model="cq.name", ng-show="cq.add", required)
        td
          input.form-control(type="text", ng-model="cq.value", required)
.modal-footer
  button.btn.btn-default(type="button", data-dismiss="modal") Close
  button.btn.btn-primary(type="button", ng-click="update()", ng-disabled="!updateRowDialogForm.$valid") Update
