<!DOCTYPE html>
<html ng-app="hbase-dataflow-app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="javascripts/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div ng-controller="TableCtrl" class="col-md-2">
          <h2>Tables
            <button type="button" ng-click="createTable()" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
          </h2>
          <div class="list-group"><a href="#" ng-repeat="t in tables" ng-click="changeTable(t)" class="list-group-item">{{ t.getName() }}</a></div>
        </div>
        <div ng-controller="TableDetailCtrl" class="col-md-6">
          <h2>{{ table.getName() }}</h2>
          <table class="table table-bordered table-condensed table-hover">
            <tr>
              <th>Row Key</th>
              <th ng-repeat="c in table.getFullCQs()">{{ c }}</th>
            </tr>
            <tr ng-repeat="r in table.getFullRowkeys()">
              <th>{{ r.rowkey }}</th>
              <td ng-repeat="c in r.cqs track by $index">{{ c }}</td>
            </tr>
          </table>
        </div>
        <div ng-controller="OperationCtrl" class="col-md-4">
          <h2>OPERATIONS</h2>
          <div class="list-group"><a href="#" ng-click="showOperationDialog(o)" ng-repeat="o in operations" ng-class="{0: 'list-group-item-success', 1: 'list-group-item-warning'}[o.getType()]" class="list-group-item">{{ o.getTitle() }}</a></div>
        </div>
      </div>
    </div>
    <nav role="navigation" class="navbar navbar-default navbar-fixed-bottom">
      <div class="container">
        <form ng-controller="RowCtrl" role="form" class="form-inline">
          <div class="form-group">
            <select ng-model="table" ng-options="t.getName() for t in tables" class="form-control">
              <option value="">Please select a table</option>
            </select>
            <select ng-model="rowCommand" class="form-control">
              <option value="">Please select a command</option>
              <option value="create">Create Row</option>
              <option value="update">Update Row</option>
              <option value="get">Get Row</option>
              <option value="scan">Scan Row</option>
            </select>
          </div>
          <button type="button" ng-click="showRowCtrlDialog()" ng-disabled="!(table &amp;&amp; rowCommand)" class="btn btn-primary">Execute</button>
          <button type="button" ng-click="exportData()" class="btn btn-default">Export</button>
          <button type="button" ng-click="showImportDataDialog()" class="btn btn-default">Import</button>
        </form>
      </div>
    </nav><a href="https://github.com/kewangtw/hbase-dataflow" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>
    <script src="javascripts/jquery/dist/jquery.js"></script>
    <script src="javascripts/bootstrap/dist/js/bootstrap.js"></script>
    <script src="javascripts/angular/angular.js"></script>
    <script src="javascripts/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="javascripts/models/Operation.js"></script>
    <script src="services/services.js"></script>
    <script src="controllers/controllers.js"></script>
  </body>
</html>