extends layout

block content
  .container
    .row
      #tables.col-md-2(ng-controller="TableCtrl")
        h2
          | TABLES
          button.btn.btn-default(type="button", ng-click="createTable()")
            span.glyphicon.glyphicon-plus
        h3(ng-hide="tables.length != 0") No table
        .list-group(ng-show="tables.length != 0")
          a.list-group-item(href="#", ng-repeat="t in tables", ng-click="changeTable(t)") {{ t.getName() }}
      #table-detail.col-md-7(ng-controller="TableDetailCtrl")
        h2 {{ table.getName() }}
        h3(ng-hide="(table != null) && !table.isEmpty()") No data
        table.table.table-bordered.table-condensed.table-hover(ng-show="(table != null) && !table.isEmpty()")
          tr
            th Row Key
            th(ng-repeat="c in table.getFullCQs()") {{ c }}
          tr(ng-repeat="k in table.getFullKeys()")
            th {{ k.key }}
            td(ng-repeat="v in k.cqs track by $index") {{ v }}
      #operations.col-md-3(ng-controller="OperationCtrl")
        h2 OPERATIONS
          button.btn.btn-default(type="button", ng-click="createOperation()")
            span.glyphicon.glyphicon-plus
        h3(ng-hide="operations.length != 0") No operation
        .list-group(ng-show="operations.length != 0")
          a.list-group-item(href="#", ng-click="showOperationDialog(o)", ng-repeat="o in operations", ng-class="{0: 'list-group-item-success', 1: 'list-group-item-warning'}[o.getType()]") {{ o.getTitle() }}
  nav.navbar.navbar-default.navbar-fixed-bottom(role="navigation")
    .container
      form.form-inline(ng-controller="RowCtrl", role="form")
        .form-group
          select.form-control(ng-model="table", ng-options="t.getName() for t in tables")
            option(value="") Please select a table
          select.form-control(ng-model="rowCommand")
            option(value="") Please select a command
            option(value="create") Create Row
            option(value="update") Update Row
            option(value="get") Get Row
            option(value="scan") Scan Row
        button.btn.btn-primary(type="button", ng-click="showRowCtrlDialog()", ng-disabled="!(table && rowCommand)") Execute
        button.btn.btn-default(type="button", ng-click="exportData()") Export
        button.btn.btn-default(type="button", ng-click="showImportDataDialog()") Import
