extends layout

block content
  .container
    .row
      .col-md-8(style="height: 300px;")
        h2 TABLES
        form.form-inline(role="form")
          button.btn.btn-default(type="button", ng-click="createTable()") Create table
          include includes/select_table
        table.table
          tr
            th CQ
            th R1
            th R2
          tr
            th RK
            th rk1
            th rk2
          tr
            td id
            td kewang
            td mxxx
          tr
            td name
            td Michael Jordan
            td
          tr
            td bir
            td
            td 1993/5/3
      .col-md-4.op-list-col(style="height: 600px;")
        h2 OPERATIONS
        .list-group
          a.list-group-item(href="#") Operation 1
          a.list-group-item(href="#") Operation 2
          a.list-group-item(href="#") Operation 3
          a.list-group-item(href="#") Operation 4
          a.list-group-item(href="#") Operation 5
          a.list-group-item.active(href="#") Operation 6
          a.list-group-item(href="#") Operation 7
          a.list-group-item(href="#") Operation 8
          a.list-group-item(href="#") Operation 9
          a.list-group-item(href="#") Operation 10
      .col-md-8(style="height: 300px;")
        h2 COMMANDS
        h3 Create
        form.form-inline(role="form")
          .form-group
            label(for="inputTable") Table
            include includes/select_table
          .form-group
            label(for="inputRowKey") Row Key
            input.form-control(type="text", placeholder="Input or Select CQs to build Row Key")
          button.btn.btn-default(type="button") Create CQs
          button.btn.btn-default(type="button") Submit
        h3 Update
        form.form-inline(role="form")
          .form-group
            label(for="inputTable") Table
            include includes/select_table
          .form-group
            label(for="inputRowKey") Row Key
            select.form-control(id="inputRowKey")
              option rk1
              option rk2
          button.btn.btn-default(type="button") Update CQs
          button.btn.btn-default(type="button") Submit
        h3 Get
        form.form-inline(role="form")
          .form-group
            label(for="inputTable") Table
            include includes/select_table
          .form-group
            label(for="inputRowKey") Row Key
            select.form-control(id="inputRowKey")
              option rk1
              option rk2
          button.btn.btn-default(type="button") Submit
