extends layout

block content
  .container
    .row
      #tables.col-md-2(ng-controller="TableCtrl")
        h2
          | TABLES
          button.btn.btn-default(type="button", ng-click="createTable()")
            span.glyphicon.glyphicon-plus
        h3(ng-hide="tables.length != 0") No table
        .list-group(ng-show="tables.length != 0")
          a.list-group-item(href="#", ng-repeat="t in tables", ng-click="changeTable(t)") {{ t.getName() }}
      #table-detail.col-md-7(ng-controller="TableDetailCtrl", ng-show="search === false")
        h2 {{ table.getName() }}
        form.form-inline(ng-show="table != null", role="form")
          input.form-control(type="text", ng-model="key", style="width: 80%")
          button.btn.btn-primary(type="button", ng-click="scan()", ng-disabled="!key") Scan
          button.btn.btn-primary(type="button", ng-click="get()", ng-disabled="!key") Get
        hr
        h3(ng-hide="(table != null) && !table.isEmpty()") No data
        hbase-table(ng-show="(table != null) && !table.isEmpty()", table="table")
      #table-search.col-md-7(ng-controller="TableSearchCtrl", ng-show="search === true")
        h2 {{ searchtable.getName() }}
        form.form-inline(ng-show="searchtable != null", role="form")
          input.form-control(type="text", ng-model="key", style="width: 50%")
          button.btn.btn-primary(type="button", ng-click="scan({'key': key})", ng-disabled="!key") Scan
          button.btn.btn-primary(type="button", ng-click="get(key)", ng-disabled="!key") Get
          button.btn.btn-primary(type="button", ng-click="clear()") Clear
          button.btn.btn-primary(type="button", ng-click="addToOperation()") Add to Operation
        hr
        h3(ng-hide="(searchtable != null) && !searchtable.isEmpty()") No data
        table.table.table-bordered.table-condensed.table-hover(ng-show="(searchtable != null) && !searchtable.isEmpty()")
          tr
            th Row Key
            th(ng-repeat="c in searchtable.getFullCQs()") {{ c }}
          tr(ng-repeat="k in searchtable.getFullKeys()")
            th {{ k.key }}
            td(ng-repeat="v in k.cqs track by $index") {{ v }}
      #operations.col-md-3(ng-controller="OperationCtrl")
        h2 OPERATIONS
          button.btn.btn-default(type="button", ng-click="createOtherOperation()")
            span.glyphicon.glyphicon-plus
        h3(ng-hide="operations.length != 0") No operation
        .list-group(ng-show="operations.length != 0")
          a.list-group-item(href="#", ng-click="showOperationDialog(o)", ng-repeat="o in operations", ng-class="{0: 'list-group-item-success', 1: 'list-group-item-warning', 2: 'list-group-item-info'}[o.getType()]") {{ o.getTitle() }}
  nav.navbar.navbar-default.navbar-fixed-bottom(role="navigation")
    .container
      form.navbar-form.navbar-left(ng-controller="RowCtrl", role="form")
        .form-group
          select.form-control(ng-model="table", ng-options="t.getName() for t in tables")
            option(value="") Select a table
          select.form-control(ng-model="rowCommand")
            option(value="") Select a command
            option(value="create") Create Row
            option(value="update") Update Row
        button.btn.btn-primary.navbar-btn(type="button", ng-click="showRowCtrlDialog()", ng-disabled="!(table && rowCommand)") Execute
      ul.nav.navbar-nav.navbar-right(ng-controller="SystemCtrl")
        li
          span.navbar-text System
        li
          a(href="#", ng-click="clear()") Clear
        li.dropdown
          a.dropdown-toggle(href="#", data-toggle="dropdown")
            | Export
            b.caret
          ul.dropdown-menu
            li
              a(href="#", ng-click="exportData()") to JSON
            li.divider
            li.disabled
              a(href="#") to PDF
            li.disabled
              a(href="#") to PNG
        li.dropdown
          a.dropdown-toggle(href="#", data-toggle="dropdown")
            | Import
            b.caret
          ul.dropdown-menu
            li
              a(href="#", ng-click="showImportDataDialog()") from JSON
            li.divider
            li
              a(href="#", ng-click="importSample(1)") from Sample 1
            li
              a(href="#", ng-click="importSample(2)") from Sample 2
