extends layout

block content
  .container
    .row
      .col-md-8(style="background: green; height: 300px;")
        h1 TABLES
      .col-md-4.op-list-col(style="background: blue; height: 600px;")
        h1 OPERATIONS
      .col-md-8(style="background: red; height: 300px;")
        h1 OPERATE
