extends layout

block content
  .container
    .row
      .col-md-8(ng-controller="TableCtrl", style="height: 300px;")
        h2 TABLES
        form.form-inline(role="form")
          button.btn.btn-default(type="button", ng-click="createTable()") Create table
          button.btn.btn-default(type="button", ng-click="exportTables()") Export
          button.btn.btn-default(type="button", ng-click="showImportTablesDialog()") Import
        hr
        select.form-control(ng-model="showTable", ng-options="t.getName() for t in tables")
          option(value="") Please select a table
        table.table.table-bordered.table-condensed.table-hover
          tr
            th Row Key
            th(ng-repeat="c in showTable.getFullCQs()") {{ c }}
          tr(ng-repeat="r in showTable.getFullRowkeys()")
            th {{ r.rowkey }}
            td(ng-repeat="c in r.cqs track by $index") {{ c }}
      .col-md-4.op-list-col(ng-controller="OperationCtrl", style="height: 600px;")
        h2 OPERATIONS
        .list-group
          a.list-group-item(href="#", ng-click="showOperationDialog(o)", ng-repeat="o in operations") {{ o.title }}
      .col-md-8(style="height: 300px;")
        h2 COMMANDS
        h3 Create
        form.form-inline(ng-controller="CreateRowCtrl", role="form")
          .form-group
            label Table
            select.form-control(ng-model="createTable", ng-options="t.getName() for t in tables")
              option(value="") Please select a table
          button.btn.btn-default(type="button", ng-click="showCreateRowDialog()") Create Row
        h3 Update
        form.form-inline(role="form")
          .form-group
            label Table
            select.form-control(ng-model="selectTable3", ng-options="t.name for t in tableList")
              option(value="") Please select a table
          .form-group
            label Row Key
            select.form-control(ng-model="updateRow", ng-options="r.rowkey for r in selectTable3.getFullRowkeys()")
              option(value="") Please select a row key
          button.btn.btn-default(type="button") Update CQs
        h3 Get
        form.form-inline(role="form")
          .form-group
            label Table
            select.form-control(ng-model="selectTable4", ng-options="t.name for t in tableList")
              option(value="") Please select a table
          .form-group
            label Row Key
            select.form-control(ng-model="getRow", ng-options="r.rowkey for r in selectTable4.getFullRowkeys()")
              option(value="") Please select a row key
          button.btn.btn-default(type="button") Get Row
