extends layout

block content
  .container
    .row
      .col-md-8(style="background: green; height: 300px;")
        h1 TABLES
      .col-md-4.op-list-col(style="background: blue; height: 600px;")
        h1 OPERATIONS
        select.form-control(multiple, style="height: 500px;")
          option 1
          option 2
          option 3
          option 4
          option 5
          option 6
          option 1
          option 1
          option 1
          option 2
          option 3
          option 4
          option 5
          option 6
          option 2
          option 3
          option 4
          option 5
          option 6
          option 2
          option 3
          option 4
          option 5
          option 6
      .col-md-8(style="background: red; height: 300px;")
        h1 OPERATE
        h2 FOR PUT
        form.form-inline(role="form")
          .form-group
            label(for="inputOperate") Operate
            select.form-control(id="inputOperate")
              option PUT
          .form-group
            label(for="inputTable") Table
            select.form-control(id="inputTable")
              option Table A
              option Table B
              option Table C
          .form-group
            label(for="inputRowKey") Row Key
            input.form-control(type="text", placeholder="Input or Select CQs to build Row Key")
        h2 FOR GET
        form.form-inline(role="form")
          .form-group
            label(for="inputOperate") Operate
            select.form-control(id="inputOperate")
              option GET
              option SCAN
          .form-group
            label(for="inputTable") Table
            select.form-control(id="inputTable")
              option Table A
              option Table B
              option Table C
          .form-group
            label(for="inputRowKey") Row Key
            select.form-control(id="inputRowKey")
              option RK1
              option RK2
              option RK3
