extends layout

block content
  .container
    .row
      .col-md-8(style="height: 300px;")
        h2 TABLES
        form.form-inline(role="form")
          button.btn.btn-default(type="button", ng-click="createTable()") Create table
          select.form-control(ng-model="selectTable1", ng-options="t.name for t in tableList")
            option(value="") Please select a table
        .table(style="border: 1px solid rgb(212,212,212); height: 200px;", ng-grid="gridOptions")
      .col-md-4.op-list-col(style="height: 600px;")
        h2 OPERATIONS
        .list-group
          a.list-group-item(href="#") Operation 1
          a.list-group-item(href="#") Operation 2
          a.list-group-item(href="#") Operation 3
          a.list-group-item(href="#") Operation 4
          a.list-group-item(href="#") Operation 5
          a.list-group-item.active(href="#") Operation 6
          a.list-group-item(href="#") Operation 7
          a.list-group-item(href="#") Operation 8
          a.list-group-item(href="#") Operation 9
          a.list-group-item(href="#") Operation 10
      .col-md-8(style="height: 300px;")
        h2 COMMANDS
        h3 Create
        form.form-inline(role="form")
          .form-group
            label(for="inputTable") Table
            select.form-control(ng-model="selectTable2", ng-options="t.name for t in tableList")
              option(value="") Please select a table
          .form-group
            label(for="inputRowKey") Row Key
            input.form-control(type="text", placeholder="Input or Select CQs to build Row Key")
          button.btn.btn-default(type="button", data-toggle="modal", data-target="#create-qualifiers-dialog") Create CQs
          button.btn.btn-default(type="button") Submit
        h3 Update
        form.form-inline(role="form")
          .form-group
            label(for="inputTable") Table
            select.form-control(ng-model="selectTable3", ng-options="t.name for t in tableList")
              option(value="") Please select a table
          .form-group
            label(for="inputRowKey") Row Key
            select.form-control(id="inputRowKey")
              option rk1
              option rk2
          button.btn.btn-default(type="button") Update CQs
          button.btn.btn-default(type="button") Submit
        h3 Get
        form.form-inline(role="form")
          .form-group
            label(for="inputTable") Table
            select.form-control(ng-model="selectTable4", ng-options="t.name for t in tableList")
              option(value="") Please select a table
          .form-group
            label(for="inputRowKey") Row Key
            select.form-control(id="inputRowKey")
              option rk1
              option rk2
          button.btn.btn-default(type="button") Submit
  .modal.fade#create-qualifiers-dialog(tabindex="-1", role="dialog", aria-labelledby="create-qualifiers-dialog-title", aria-hidden=true)
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden=true) &times;
          h4.modal-title#create-qualifiers-dialog-title Modal title
        .modal-body

        .modal-footer
          button.btn.btn-default(type="button", data-dismiss="modal") Close
          button.btn.btn-primary(type="button") Save changes
